---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/99999999999999999999999999999999999
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TMDB_API_KEY>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cascade:
      - pass
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"status_code":6,"status_message":"Invalid id: The
        pre-requisite id is invalid or not found."}'
  recorded_at: Wed, 09 Oct 2024 01:34:41 GMT
recorded_with: VCR 6.3.1
