---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TMDB_API_KEY>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"status_code":34,"status_message":"The resource you
        requested could not be found."}'
  recorded_at: Fri, 11 Oct 2024 01:44:50 GMT
recorded_with: VCR 6.3.1
